<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">图片上传</h1>

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        添加图片到图片列表
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                        <label class="control-label col-lg-4">选择上传的图片</label>
                        <form id="imgForm" action="#" enctype="multipart/form-data">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="/static/img/demoUpload.jpg" alt="" /></div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <input type="hidden" id="base64input" name="base64">
                                    <label class="control-label">图片名称</label>
                                    <span class="text-danger">*必填</span>
                                    <input type="text" class="form-control" style="width: 30%" name="title"/>
                                    <label class="control-label">图片描述</label>
                                    <input type="text" class="form-control" name="describe"/>
                                </div>
                                <hr>
                                <div>
                                    <span class="btn btn-file btn-primary"><span class="fileupload-new">选择图片</span>
                                    <span class="fileupload-exists">换一张</span><input type="file"></span>
                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">移除</a>
                                    <a href="#" class="btn btn-success fileupload-exists" data-addimg="addimg">确定上传</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



