<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">在线转换base64</h1>

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        base64格式方便在MD文件中展示图片
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-lg-4">选择图片</label>
                            <div class="">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-preview thumbnail"
                                         style="width: 200px; height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-file btn-success"><span
                                                class="fileupload-new">选择图片</span><span
                                                class="fileupload-exists">换一张</span><input type="file"></span>
                                        <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">移除</a>
                                        <a href="#" class="btn btn-info fileupload-exists" data-copy="copybase64">复制到剪切板</a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <textarea class="form-control" rows="10" id="base64text"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



