<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>err</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="/static/css/font-awesome.css" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES-->
    <link href="/static/css/error.css" rel="stylesheet"/>

</head>
<body>
<div class="container">

    <div class="row text-center">

        <div class="col-md-12 set-pad">

            <strong class="error-txt">ERROR ! 404</strong>
            <a href="/" class="btn btn-danger"><i class="fa fa-mail-reply"></i>&nbsp;返回首页</a>
        </div>


    </div>
</div>





</body>
</html>
