<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">HTML小游戏</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        游戏列表
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>名称</th>
                                    <th>进入游戏</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="success">
                                    <td style="line-height: 117px">1</td>
                                    <td style="line-height: 117px">水果忍者</td>
                                    <td style="line-height: 117px">
                                        <a href="javascript:;" ng-click="fruit_ninja()"><img src="/static/game/fruit-ninja/fruit-ninja.jpg" alt="" height=100></a>
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td style="line-height: 117px">2</td>
                                    <td style="line-height: 117px">超级玛丽</td>
                                    <td style="line-height: 117px">
                                        <a href="javascript:;" ng-click="mario()"><img src="/static/game/mario/mario.jpg" alt="" height=100></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>